{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}} {{!-- Create a button in index.handlebars
that will submit the user input into the database. --}}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../public/style.css" type="text/css" />
    <title>Eat Da Burger!</title>
</head>

<body>
    <h1>Burgers!</h1>
    <button>Submit!!</button>
</body>

</html>